<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <title th:text="${title}">Come Together</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/browse">Browse</a> |
    <a href="/search">Search</a> |
    <a href="/post">Post</a> |
    <a href="/about">About</a>
    <div align="right">
        <span th:if="${user} and ${user.active}">
            <a href="/logout">Logout</a></span>
                <span th:unless="${user} and ${user.active}">
                    <a href="/login">Login</a>

        </span> / <a href="signup">Signup</a>
    </div>
</nav>

</body>
</html>