<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Post a New Project</title>
</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="max-width:600px;" th:object="${project}">
    <!--<div class="form-group">
        <input type="hidden" th:field="*{author}" th:value="${user}" />
    </div>-->
    <div class="form-group">
        <label th:for="title">Title</label>
        <input class="form-control" th:field="*{title}"/>
    <span th:errors="*{title}" class="error"></span>
    </div>
    <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}"/>
            <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Sign Up!" />
    </div>

</form>
</body>
</html>